.RightPanel {
  font-size: 14px;
  font-family: Verdana;
  display: flex;
  overflow: hidden;
  width: 85%;
  display: inline-block;
  height: 100%;

}

.RightPanel__Type {
  height: 10%;
  width: 11%;
  background-color: #03c5b5;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  /*border-radius: 7px; */
  float: left;
}

.RightPanel__Type:hover,
.RightPanel__Type:focus {
  background-color: #2b6777;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
