.MainMenu {
  font-size: 14px;
  font-family: Verdana;
  display: inline-flex;
  overflow: hidden;
  width: 15%;
  /* display: flex; */
  overflow-y: auto;
}

.MainMenu .MainMenuType {
  height: 100%;
  width: 100%;
  background-color: #240370;;
  color: white;
  padding: 9px 6px 6px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  /* border-radius: 7px; */
  display: flex;
}

.MainMenuType::first-letter {
  text-transform: uppercase;
}

.MainMenuType:hover,
.MainMenuType:focus {
  background-color: #ce0362d2;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
