.Scheme {
  width: 100%;
  background-color: #888889;
  color: #fff;
  /* padding: 16px; */
  font-size: 16px;
  border-bottom-color: #2e3133;
  cursor: pointer;
  border: 1;
  display: flex;
}

.scheme_cell {
  /* border-radius: 7px; */
  border-style: groove;
  height: 30px;
  width: 30%;
  display: flex;
}
