.MainPage {
  margin: auto;
  background-color: #dfdddd;
  font-size: 14px;
  font-family: Verdana;
  flex: auto;
}

.MainPage .LeftPanel {
  height: 550px;
  width: 300px;
  background-color: #e7cad4;
  font-size: 14px;
  font-family: Verdana;
  display: flex;
}
