.HomePage {
  background-color: #f8f8f8;
  font-size: 14px;
  font-family: Verdana;
  position: relative;
  display: inline-grid;
  height: 100%;
  width: 100%;
  /* flex-wrap: wrap; */
  /* overflow-x: scroll; */
  /* text-transform: lowercase; */
}
