.Footer {
  background-color: #03c5b5;
  height: 340px;
}


.Footer .FooterRow{
  height: 200px;
  display: flex;
}
.Footer .Copyright h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  font-size: small;
  margin-block-start: 4em;
  margin-block-end: 0em;
  align-items: center;
  display: flex;
  margin-inline-start: 50%;
}
